
.container {
    display: inline-flex;
   margin-bottom: 30px;
   margin-right: 30px;
   --digits: 3%;
   flex-wrap: wrap;   
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500000ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.container1 {
    display: flex;
   flex-wrap: wrap;   
}
.sum {
    /* width: var(--sum-width); */
    display: flex;
    flex-direction: column;
    /* height: var(--sum-height); */
    position: relative;
    margin: 20px;
}
.sum1 {
    margin: 20px;
    padding: 20px;
    position: relative;
/*       width: 200px;
 */      
 /*     width: var(--sum-width); 
 */    
}

#sum1 {
  animation-duration: 5s;
/*   animation-name: show;
 */}

@keyframes show {
  from {
    opacity: 0 
  }

  to {
   opacity: 100
  }
}

.row {
display: flex;
           margin: 10px;
}

.bottom {
border-top: 1px solid;
padding-top: 10px; 
margin-bottom:10px; 
}

.box {
width: calc(20%);
flex-grow: 1;
margin: 0;
}

input {
font-size: 20px;
text-align: center;
}

.answer-image {
width: 50px;
display: flex;
flex-direction: column;
height:  var(--sum-height);
justify-content: center;;
}

.answer-number {
color:white;
font-weight: bold;
}

.show {
visibility: visible;
}

.hide {
visibility: hidden;
}

.circle {
width: 30px;
height: 30px;
border-radius: 50%;
font-size: 20px;
color: #fff;
line-height: 30px;
text-align: center;
background: #000;
position: absolute;
left: -15px;
top: -15px;
}

.blackBorder {
border-style: solid;
border-color: black;
}

.greenBorder {
border-style: solid;
border-color: green;
}

.blueBorder {
border-style: solid;
border-color: blue;
}

.blue {
border-style: solid;   
border-color: blue;
}

.red {
border-style: solid;
border-color: red;
}
.green {
border-style: solid;
border-color: green;
}

.back {
background-color: green;
}

.bottomBorder {
border-bottom: solid 1px;
}

.topBorder {
border-top: solid 1px;
}

.blueFont {
color:blue;
}


.link-anchor {
  position: relative;
  width: 0;
  font-size: .8em;
  opacity: 0;
  transition: opacity .2s ease-in-out;
}
.anchor-wrapper {
  border: none;
}
.anchor-wrapper:hover .link-anchor {
  opacity: 1;
}

section h1[id]:focus,
section h2[id]:focus,
section h3[id]:focus,
section h4[id]:focus,
section h5[id]:focus {
  outline: 0;
}

p.thin {
    font-weight: 100;
    margin: 0;
    line-height: 1.2em;
}

p.bold {
    font-weight: 900;
    margin: 0;
    margin-top: -5px;
}

.rel {
    width: 30%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    padding: 20px;
    border-style: dotted;
    border-color: white;
    border-width: medium;
}

.popper,
.tooltip {
    position: absolute;
    background: #FFC107;
    color: black;
    width: 150px;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
    padding: 10px;
    text-align: center;
}
.style5 .tooltip {
    background: #1E252B;
    color: #FFFFFF;
    max-width: 200px;
    width: auto;
    font-size: .8rem;
    padding: .5em 1em;
}

.popper .popper__arrow,
.tooltip .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
}

.tooltip .tooltip-arrow,
.popper .popper__arrow {
    border-color: #FFC107;
}
.style5 .tooltip .tooltip-arrow {
    border-color: #1E252B;
}
.popper[x-placement^="top"],
.tooltip[x-placement^="top"] {
    margin-bottom: 5px;
}
.popper[x-placement^="top"] .popper__arrow,
.tooltip[x-placement^="top"] .tooltip-arrow {
    border-width: 5px 5px 0 5px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    bottom: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
}
.popper[x-placement^="bottom"],
.tooltip[x-placement^="bottom"] {
    margin-top: 5px;
}
.tooltip[x-placement^="bottom"] .tooltip-arrow,
.popper[x-placement^="bottom"] .popper__arrow {
    border-width: 0 5px 5px 5px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    top: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
}
.tooltip[x-placement^="right"],
.popper[x-placement^="right"] {
    margin-left: 5px;
}
.popper[x-placement^="right"] .popper__arrow,
.tooltip[x-placement^="right"] .tooltip-arrow {
    border-width: 5px 5px 5px 0;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    left: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
}
.popper[x-placement^="left"],
.tooltip[x-placement^="left"] {
    margin-right: 5px;
}
.popper[x-placement^="left"] .popper__arrow,
.tooltip[x-placement^="left"] .tooltip-arrow {
    border-width: 5px 0 5px 5px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    right: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
}